<div class="row">
  <div class="col-xs-12">
    <h1>Pin {{pin.id}}: {{pin.item_name}}</h1>
    <h4>Signed in as {{pin.user.username}}</h4>
    <a ui-sref='pinboard'>View All Pins</a>
  </div>
  <hr style="display: block">
  <div class="col-xs-12">
    <h4>{{pin.item_name}}</h4>
    <h4 style="color: green">{{buySell(pin.buy_sell)}}</h4>
    <a ui-sref='edit({pin:{{pin}} })'>Edit Pin</a>
    <a ui-sref='delete'>Delete Pin</a>
    <br>
    <p>{{pin.description}}
    </p>
    <p class="text-center">Posted {{pin.created_at | date}} by {{pin.user.username}}</p>
  </div>
</div>